.btn-flat {
  color: white;
  font-weight: bold;
  padding: 8px 24px;
  border-radius: 4px;
  background: #be95ec;
  transition: background 0.3s ease;
  &:hover {
    background: #8B6BB0;
    color: white;
  }
}

.nav-link {
  color: #be95ec;
  &:hover {
    color: #8B6BB0;
    text-shadow: 0 0 15px #8B6BB0;
  }
}