.btn-flat {
  color: white;
  font-weight: bold;
  padding: 8px 24px;
  border-radius: 4px;
  background: #be95ec;
  transition: background 0.3s ease;
  &:hover {
    background: #8B6BB0;
    color: white;
  }
}
